---
layout: default
---



<section class="portfolio" id="Portfolio">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h1>Portfolio Filter</h1>
                </div>
            </div>
            <div class="row">
                <div class="filter-buttons">
                    <ul id="filter-btns">
                        <li class="active" data-target="all">ALL</li>
						
						

						{% assign categories = site.portfolios| map: 'categories' | join: ',' | split: ',' | uniq %}
						{% for category in categories %}										
                        <li data-target="{{ category | downcase | slugify }}">{{ category }}</li>
						{% endfor %}
						
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-gallery">
				
					{% for portfolio in site.portfolios %}
                    <div class="item" data-id="{{portfolio.categories}}">
                        <div class="inner">
                            <a href="{{portfolio.url | relative_url }}" class=""><img src="{{portfolio.thumbnail | relative_url }}" alt="portfolio"></a>                     
                        </div>
                    </div>
					{% endfor %}
                </div>
            </div>
        </div>
</section>


