@font-face {
   font-family: 'GOTHICB0';
   font-display: swap;
   src: url('file:///C:/Users/Rafal/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-17_181049/fonts/GOTHICB0/font.TTF');
}
