@font-face {
   font-family: 'GOTHICB0';
   font-display: swap;
   src: url('GOTHICB0/font.TTF');
}
@font-face {
   font-family: 'Century Gothic';
   font-display: swap;
   src: url('Century Gothic/font.ttf');
}
