<!-- navbar -->
<nav class="uk-navbar-container uk-container uk-container-center uk-position-z-index" uk-navbar>
	<ul class='nav-bar'>
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="/index.html">PROJEKT DOM</a>	
		</div>
		<input type='checkbox' id='check' />
		<span class="menu">
			<li class=""><a href="/galeria.html">PROJEKTY DOMÓW</a></li>
			<li class=""><a href="/search.html">wyszukaj</a></li>
			<li class=""><a href="/search-stary.html">wyszukaj stary</a></li>
			<li class=""><a href="/projekt.html">PROJEKTY strona</a></li>			
			<li class=""><a href="/contact.html">KONTAKT</a></li>
			<label for="check" class="close-menu"><i class=" i-small icon-cancel"></i></label>
		</span>
		<label for="check" class="open-menu"><i class="i-small icon-menu"></i></label>
	</ul>
</nav>
<!-- navbar -->
