<!-- navbar -->
<nav class="uk-navbar-container uk-container uk-container-center" uk-navbar>
	<ul class='nav-bar'>
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="/index.html">ARCH&VIZ</a>	
		</div>
		<input type='checkbox' id='check' />
		<span class="menu">
			<li class=""><a href="/galeria.html">PORTFOLIO</a></li>
			<li class=""><a href="/services.html">OFERTA</a></li>
			<li class=""><a href="/about.html">O MNIE</a></li>			
			<li class=""><a href="/contact.html">KONTAKT</a></li>
			<label for="check" class="close-menu"><i class="fa-solid fa-xmark"></i></label>
		</span>
		<label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
	</ul>
</nav>
<!-- navbar -->