<!-- opis -->
<div class="">
	<img src="{{page.thumbnail}}" alt="" class="img-responsive">
</div>
	
<div class="uk-grid-small uk-text-left uk-margin-large-left uk-margin-large-right margin-large-tb" uk-grid>
	<div class="uk-width-2-3@m uk-padding-large">
		<b>{{page.title}}</b>
		<p>{{page.description}}</p>
	</div>
	<div class="uk-width-1-3@m uk-padding-large">
		<ul class="uk-list uk-list-divider">
			<li><b>Kategoria:</b> {{page.categories}}</li>
			<li><b>Klient:</b> {{page.client}}</li>
			<li><b>Powierzchnia:</b> {{page.area}}</sup></li>
			<li><b>Data:</b> {{page.data}}</li>
		</ul>
	</div>		
</div>
<!-- opis -->