@font-face {
   font-family: 'Century Gothic';
   font-display: swap;
   src: url('file:///C:/Users/Rafal/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-17_181049/fonts/Century%20Gothic/font.ttf');
}
