<!DOCTYPE HTML>

<html lang="pl">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ARCH&VIZ Studio. Architektura i wizualizacje</title>
	<link rel="icon" type="image/png" href=" {{ '/assets/img/inne/logo_favicon.png' | relative_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="architektura, wnętrza, budynki, projektowanie, projekt, wizualizacje, modelowanie 3d, render, " />
	<meta name="author" content="Rafał Keska" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">
	
	<!-- google font -->		
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">

	<!-- uikit css -->
	<link rel="stylesheet" href="/assets/plugins/uikit/css/uikit.css" />
	<link rel="stylesheet" href="/assets/css/style.css" /> 
	<link rel="stylesheet" href="/assets/css/animacja_tekst.css" /> 
	<script src="/assets/plugins/uikit/js/uikit.min.js"></script>
	<script src="/assets/plugins/uikit/js/uikit-icons.min.js"></script>
	<script src="/assets/js/main.js"></script>

	</head>
	<body>
	
	<div id="page">

		<nav class="uk-navbar-container uk-container uk-container-center" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/index.html">ARCH&VIZ</a>	
			</div>			
			<div class="uk-navbar-right">	
				<ul class="uk-navbar-nav">				
					<li class=""><a href="/galeria.html">PORTFOLIO</a></li>
					<li class=""><a href="/services.html">OFERTA</a></li>
					<li class=""><a href="/about.html">O MNIE</a></li>			
					<li class=""><a href="/contact.html">KONTAKT</a></li>
				</ul>		
			</div>
		</nav>
		<section class="uk-container uk-container-center">
			{{content}}
		</section>

		<!-- START footer -->
		<footer class="uk-navbar-container uk-container uk-container-center footer border-top uk-padding-remove" uk-navbar>
			<div class="uk-navbar-center">
				<p class = "uk-navbar-nav"><small>© 2022 ARCH&amp;VIZ. All Rights Reserved. </small></p>
			</div>			
		</footer>
		<!-- END footer -->

	</div>

	<button id="back-to-top-btn"><span uk-icon="icon: arrow-up; ratio: 1.2"></span></button>



	</body>
</html>

