<!DOCTYPE HTML>

<html lang="pl">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ARCH&VIZ Studio. Architektura i wizualizacje</title>
	<link rel="icon" type="image/png" href=" {{ '/assets/img/inne/logo_favicon.png' | relative_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Architektura i grafika 3d to nasza pasją. Projektujemy wnetrza i objekty budowlane. Tworzymy również animacje, wizualizacje, modele 3D i wiele więcej." />
	<meta name="keywords" content="archandviz, archandwiz, arch and viz, arch, viz, architektura, wnętrza, budynki, projektowanie, projekt, wizualizacje, modelowanie 3d, render," />
	<meta name="author" content="Rafał Keska" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	
	<!-- google font -->

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">
	<!-- fontello css -->
	<link rel="stylesheet" href="/assets/plugins/fontello/css/icon.css" />
	<!-- uikit css -->
	<link rel="stylesheet" href="/assets/plugins/uikit/css/uikit.min.css" />
	<script src="/assets/plugins/uikit/js/uikit.min.js"></script>
	<script src="/assets/plugins/uikit/js/uikit-icons.min.js"></script>

	<!-- panorama360 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
	<!-- porownanie -->
	<link href="/assets/plugins/pixelcompare-master/css/pixelcompare.css" rel="stylesheet">
	<!-- moje css -->
	<link rel="stylesheet" href="/assets/css/navbar.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<script src="/assets/js/main.js"></script>
		
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8EJFDNPPG1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-8EJFDNPPG1');
	</script>

</head>
	<body>
	
	<div id="page">

		{% include navbar.html %}
		
		<section class="uk-container uk-container-center ">
			{{content}}
		</section>

		{% include footer.html %}

	</div>

	<button id="back-to-top-btn"><span uk-icon="icon: arrow-up; ratio: 1.2"></span></button>



	</body>
</html>

