---
layout: default
sitemap: false
---

{{page.content}}


<!-- nawigacja-->
<div class="uk-flex uk-flex-middle uk-margin-small uk-flex-between">
    <i class="i-14 icon-tags ">&nbsp;{{ page.tags | join: ' ' }}</i>

    <div class="color-4 uk-flex uk-flex-middle uk-flex-right" >
        Udostępnij na:&nbsp;  
        <div class="ic uk-paginatio uk-flex uk-flex-middle">
            <a href="" class="uk-flex uk-flex-middle" ><i class="i-small icon-facebook"></i></a>
            <a href="" class="uk-flex uk-flex-middle" ><i class="i-small icon-twitter"></i></a>
            <a href="" class="uk-flex uk-flex-middle" ><i class="i-small icon-googleplus"></i></a>
            <a href="" class="uk-flex uk-flex-middle" ><i class="i-small icon-dribbble"></i></a>
        </div>
    </div>
</div>
<!-- nawigacja--
<i class="i-14 icon-tags ">{{ page.tags | join: ' ' }}</i>

<div class="ic-share uk-margin-small">
    Udostępnij na: 
    <a href="" onclick="window.open('http://www.facebook.com/share.php?u={{ site.url }}{{portfolio.url}}');"><i class="i-mid icon-facebook"></i></a>
    <a href="" onclick="window.open('http://twitter.com/share?text=<TITLE>&url=<URL>&via=<TWITTER-HANDLE>&related=<TWITTER-HANDLE>');"><i class="i-mid icon-twitter"></i></a>
    <a href="" onclick="window.open('mailto:?&body={{ site.url }}{{portfolio.url}}');"><i class="i-mid icon-dribbble"></i></a>
    <a href="" onclick="window.open('whatsapp://send?text= { site.url }{page.url }');"><i class="i-mid icon-dribbble"></i></a>
    
</div>

<!-- nawigacja-->	
<div class="uk-margin-medium " tabindex="0">
    <div class="uk-pagination uk-child-width-expand">
        <div class="">
            {% if page.previous.url %}
            <a class="my_move_left uk-flex uk-flex-middle" href="{{page.previous.url}}"><i class="i-mid icon-arrow_back"></i>POPRZEDNI PROJEKT</a>
            {% endif %}
        </div>
        <div class="uk-width-1-6">
            <a class="uk-position-center uk-flex uk-flex-middle" uk-tooltip="Powrót do galerii" href="/galeria.html" ><i class="i-small icon-th"></i></a>
        </div>
        <div class="">
            {% if page.next.url %}
            <a class="my_move_right uk-flex uk-flex-middle uk-text-right uk-flex-right" href="{{page.next.url}}">KOLEJNY PROJEKT<i class="i-mid icon-arrow_forward"></i></a>
            {% endif %}
        </div>
    </div>
</div>
<!-- nawigacja-->

{% include podobne-projekty.html %}
		

