---
layout: default
---


<section class="portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
          {{page.content}}
		</div>
	</div>
</section>

<section id="more-work" class= "container row">
	<div class="col-4 text-left">
	  {% if page.previous.url %}
		<a class="prev" href="{{page.previous.url}}">
		    <div>
                <h6> ← Previous Project </h6>
                <h4> {{page.previous.title}} </h4>
            </div>	
		</a>
	  {% endif %}
	</div> 
	
	<div class="col-4 justify-content-center d-flex align-items-center ">
		<a class="" href="/portfolio.html">
			<div>
                <i class="ti-layout-grid3 " style="font-size: 2em;"></i>
            </div>
		</a>
	</div>
	
	<div class="col-4 text-right">
	  {% if page.next.url %}
		<a class="next" href="{{page.next.url}}">
			<div>
                <h6> Next Project →</h6>
                <h4> {{page.next.title}}</h4>
            </div>
		</a>
	  {% endif %}
	</div>
</section>


<section class="section related-project">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="mb-5">Related Projects</h3>
			</div>
		</div>
		<div class="row">
            {% for portfolio in site.portfolios limit:"3" %}
			<div class="col-lg-4">
				<div class="portfolio-block text-center border-0 ">
				    <img src="{{portfolio.thumbnail | relative_url}}" class="img-fluid" alt="{{portfolio.title}}"/>
				    <a class="card-img-overlay" href="{{portfolio.url}}">
				      <h5 class="card-title text-white mb-0">{{portfolio.title}}</h5>
				      <p class="card-text text-white text-uppercase text-sm">{{portfolio.category}}</p>
				    </a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</section>

